<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= htmlWebpackPlugin.options.title %>| <%=
      htmlWebpackPlugin.options.subtitle %>
    </title>
  </head>
  <body>
    <!-- start:header -->
    <%= require('html-loader!./partials/header.html').default %>
    <!-- end:header -->
    <!-- start footer -->
    <%= require('html-loader!./partials/footer.html').default %>
    <!-- end footer -->
  </body>
</html>
